@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-size: 48px;
}

h2 {
    font-size: 24.88px;
    margin-bottom: 8px;
}

h3 {
    font-size: 20.74px;
}

h4 {
    font-size: 17.28px;
}

h5 {
    font-size: 14.40px;
}

h6 {
    font-size: 12px;
}

p,a {
    font-size: 12px;
    line-height: 15px;
}

p {
    margin-bottom: 25px;
}

.small-text {
    font-size: 8px;
    font-style: italic;
    line-height: 9px;
    color: #ffffff;
}

label {
    color: #404040;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 7px;
}

a {
    color: #F27623;
    text-decoration: none;
}

a:hover {
    color: #F27623;
    text-decoration: underline;
}